{% extends 'base.html' %}

{% block content %}
			{% if cliente %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img style="height: 80%; width: 100%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px; margin-bottom: 10px;" src="/static/media/{{ cliente.foto }}" alt="Foto de {{ cliente.usuario.first_name }}" class="img-responsive">
			<h4>{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</h4>
			<h4 class="text-muted">{{cliente.usuario.username}}</h4>
		</div>
		<div class="col-md-9">
			<h3 class="text-center">Resumen de viajes</h3>
			<hr>
			<div class="row">
				<div class="col-md-6 form-control">
					<h4>Viajes Totales</h4>
					<h2 class="text-center text-primary">15</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Cancelados</h4>
					<h2 class="text-center text-danger">7</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Realizados</h4>
					<h2 class="text-center text-success">2</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Pendientes</h4>
					<h2 class="text-center text-warning">6</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">

	<div class="row">
		<div class="col-md-3"></div>
		<hr>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center text-primary" style="margin-bottom: 20px;">Datos del Chofer</h2>
					<div class="row">
						<div class="col-md-6">
							<p><strong>Cedula:</strong> V-{{ cliente.cedula }}</p>
							<p><strong>Nombre:</strong> {{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</p>
							<p><strong>Email:</strong> {{ cliente.usuario.email }}</p>
						</div>
						<div class="col-md-6">
							<p><strong>Telefono:</strong> {{ cliente.telefono }}</p>
							<p><strong>Fecha de Ingreso:</strong> {{ cliente.usuario.date_joined }}</p>
							<a href="{% url 'cliente:editar' cliente.id %}" class="btn btn-primary" style="right: 0">Editar Perfil</a>
						</div>
					</div>
					<p class="text-center" style="margin-top: 10px">Última Sesión: {{ cliente.usuario.last_login }}</p>
				</div>

			</div>
		</div>
	</div>

</div>
	{% else %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h2 class="text-center text-primary">El cliente al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
			    <h1 class="text-center text-primary" style="font-size: 110px"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
			</div>
			<div class="col-md-5"></div>
			<div class="col-md-2">
			    <a href="{% url 'home:index' %}" class="btn btn-default text-center">Volver a la pagina principal</a>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
	{% endif %}

{% endblock content %}