{% extends 'base.html' %}

{% block content %}

{% if form_cliente or form_usuario %}
	<div class="container">
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-md-12">
					{% if editar %}
						<h2 class="text-center text-primary">
							Editar Cliente
						</h2>
					{% else %}
					    <h2 class="text-center text-primary">
							Registrar Cliente
						</h2>
					{% endif %}	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"> 
					{{ form_user.as_p }}
				</div>

				<div class="col-md-6">
					{{ form_cliente.as_p }}
					<div class="row">
						<div class="col-md-6">
							{% if editar %}
								<button type="submit" class="btn btn-primary btn-lg" style="display: block">Guardar Cambios</button>
							{% else %}
							    <button type="submit" class="btn btn-primary btn-lg" style="display: block">Registrarse</button>
							{% endif %}					
						</div>
						<div class="col-md-6">
							<a href="{% url 'home:index' %}" class="btn btn-success btn-lg" style="display: block">Pagina Principal</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% else %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h2 class="text-center text-primary">El cliente al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
			    <h1 class="text-center text-primary" style="font-size: 110px"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
			</div>
			<div class="col-md-12">
			    <a href="{% url 'home:index' %}" class="btn btn-primary btn-lg" style="display: block">Volver a la pagina principal</a>
			</div>
		</div>
	</div>
{% endif %}

{% endblock content %}