{% extends 'base.html' %}

{% block content %}

{% if form_cliente or form_usuario %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" enctype="multipart/form-data">

					{% csrf_token %}
					{{ form_user.as_p }}
					{{ form_cliente.as_p }}
					{% if editar %}
						<button type="submit" class="btn btn-primary">Guardar Cambios</button>
					{% else %}
					    <button type="submit" class="btn btn-primary">Registrarse</button>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% else %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h2 class="text-center text-primary">El cliente al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
			    <h1 class="text-center text-primary" style="font-size: 110px"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
			</div>
			<div class="col-md-12">
			    <a href="{% url 'home:index' %}" class="btn btn-primary btn-lg" style="display: block">Volver a la pagina principal</a>
			</div>
		</div>
	</div>
{% endif %}
{% endblock content %}