{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin: 20px 0px;">
			<h2 class="text-center text-primary">Perfil del Chofer</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="card mb-3">
			  <h3 class="card-header">{{ chofer.first_name }} {{ chofer.last_name }}</h3>
			  <div class="card-body">
			    <h6 class="card-subtitle text-muted">Fecha de Inscripción: {{ chofer.date_joined }}</h6>
			  </div>
			  <img style="height: 90%; width: 60%; display: block; margin-left: auto; margin-right: auto; border-radius: 30px;" src="/static/media/{{ chofer.chofer.foto }}" alt="Card image">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><strong>Cedula</strong> V-{{ chofer.chofer.cedula }}</li>
			    <li class="list-group-item"><strong>Nombre:</strong> {{ chofer.first_name }} {{ chofer.last_name }}</li>
			    <li class="list-group-item"><strong>Email:</strong> {{ chofer.email }}</li>
			    <li class="list-group-item"><strong>Telefono:</strong> {{ chofer.chofer.telefono }}</li>
			    {% if chofer.chofer.trabajando == True %}
			    <li class="list-group-item"><strong>Trabajando:</strong> Si
					<a href="#" class="btn btn-success" style="margin-left:50%">Cambiar</a>
			    </li>
			    {% else %}
			    <li class="list-group-item"><strong>Trabajando:</strong> No
					<a href="#" class="btn btn-danger" style="margin-left:50%">Cambiar</a>
			    </li>
			    {% endif %}
			  </ul>
			  <div class="card-body">
			    <a href="{% url 'chofer:editar' user.id %}" class="card-link btn btn-primary">Modificar Perfil</a>
			    <a href="{% url 'home:index' %}" class="card-link">Volver</a>
			  </div>
			  <div class="card-footer text-muted">
			    Ultima Sesión: {{ user.last_login }}
			  </div>
			</div>

		</div>

		<div class="col-md-4">
			<div class="card border-primary mb-3" style="max-width: 20rem;">
			  <div class="card-header">Gestiones</div>
			  <div class="card-body">
			    <h4 class="card-title">Viajes: </h4>
			    <p>Realizados: 3</p>
			    <p>Cancelados: 2</p>
			    <p>Reservados: 3</p>
			    <p>Cancelados: 7</p>
			  </div>
			</div>
			<div class="card border-info mb-3" style="max-width: 20rem;">
			  <div class="card-header">Otras Gestiones</div>
			  <div class="card-body">
			    <h4 class="card-title">Otros datos</h4>
			    <p class="card-text">Ultimo cliente: Patricio</p>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}