{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 wrap">
			<h2>Para confirmar el viaje complete el formulario: </h2>
			{% if origen %}
				<form action="{% url 'servicio:pedido' %}" class="form-group" method="post">
					{% csrf_token %}
					<div class="form-group">
						<p>Origen: <strong>{{ origen }}</strong></p>
						<input type="hidden" value="{{ origen }}" name="origen">
						<p>Destino: <strong>{{ destino }}</strong></p>
						<input type="hidden" value="{{ destino }}" name="destino">
						{% if user.cliente %}
							<p>Cliente: <strong>Jonnathan</strong></p>
							<input type="hidden" value="{{ user.cliente.cedula }}" name="cliente">
						{% else %}
						<h4 class="text-center">Elija un cliente</h4>
						    {% if clientes %}
						    		<select name="cliente" id="cliente" class="form-control">
						    			{% for cliente in clientes %}
						    				<option value="{{ cliente.cedula }}">{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }} - v-{{ cliente.cedula }}</option>
						    			{% endfor %}
						    		</select>				    						
						    {% endif %}						
						{% endif %}
						<p>Distancia: <strong>{{ distancia }} Km</strong></p>
						<input type="hidden" value="{{ distancia }}" name="distancia">
						<p>Precio: Bs.F {{ precio }}</p>
						<input type="hidden" value="25000" name="precio">
					</div>
					<div class="form-group radio">
					
						<h3>Indique la fecha:</h3>
						<p>
							Si elijes reservar el precio puede estar sujeto a cambios de acuerdo a la tasa actual del dia que se le preste el servicio, para mas informacion lea nuestro 
							<a href="#">Terminos y condiciones del servicio</a>
						</p>
					
						<label for="ahora">Ahora</label>
						<input type="radio" value="ahora" name="fecha" id="ahora">
					
						<label for="reservar">Reservar</label>
						<input type="radio" value="reservar" name="fecha" id="reservar">
					
					</div>
						<div class="form-group">
							<input type="date" class="form-control" min="2018-03-03" id="fecha_re" name="fecha_re" readonly="readonly">
							<button type="submit" class="btn btn-primary">Confirmar y pedir</button>
						</div>
				</form>
			{% endif %}
			
			<a href="{% url 'servicio:pedir' %}" class="btn btn-default">Cancelar</a>
		</div>
	</div>
</div>

{% endblock %}