{% extends 'base.html' %}
{% block servicios %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			  <h1 class="display-3">¡Pide un Taxi!</h1>
			  <p class="lead">
			  	Para pedir un taxi necesitas estar registrado en el sistema e ingresar... Haaz clic 
			  	<a href="{% url 'login' %}"> aquí para entrar</a>
			  </p>
			  <hr class="my-4">
			  <p>
			  	Si no estas registrado y quieres formar parte de nosotros, Haz clic 
			  	<a href="{% url 'administracion:registrar' %}"> aquí</a>
			  </p>
			  <p class="lead">
			    <a class="btn btn-primary btn-lg" href="{% url 'home:index' %}" role="button">Volver</a>
			  </p>
			</div>
		</div>
	</div>
</div>

{% endblock %}