{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<h2>¡Taxi pedido!</h2><img width="300px" src="{% static 'img/check.png' %}" alt="">
    			<p>Número de solicitud: #{{ viaje.id }}</p>
    			<p>Origen: {{ distancia.origen }}</p>
    			<p>Destino: {{ distancia.destino }}</p>
    			<p>Precio: Bs. {{ viaje.precio }} </p>
    			<p>Nombre del Chofer: {{ viaje.chofer.usuario.first_name }} {{ viaje.chofer.usuario.last_name }}</p>
                <a href="{% url 'servicio:detalles' viaje.id %}">Ver detalles</a>
                <a href="{% url 'home:index' %}">Pagina de inicio</a>
    		</div>
    	</div>
    </div>
{% endblock content %}