{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center text-muted"> Administracion de Viajes</h2>
			</div>
		</div>
	</div>


    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link  active show" data-toggle="tab" href="#viaje_p">Viajes Pendientes</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#viaje_r">Viajes Realizados</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#viaje_c">Viajes Cancelados</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#viajes">Todos los Viajes</a>
			  </li>
			  <!-- <li class="nav-item">
			    <a class="nav-link disabled" href="#">Disabled</a>
			  </li> -->
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade  active show" id="viaje_p">
			  	<a href="{% url 'servicio:pedir' %}" style="margin: 4px 10px" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar un nuevo viaje</a>
			  	<a href="#" style="margin: 4px 10px" class="btn btn-warning"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Otra acción aqui (no se que colocar)</a>
			  	<a href="#" style="margin: 4px 10px" class="btn btn-danger"><i class="fa fa-thumb-tack" aria-hidden="true"></i> <----------- RT</a>
				  	{% if  viajes_p %}
			    <table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Chofer</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Fecha de Solicitud</th>
				      <th scope="col" class="text-center">Acciones</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for viaje in viajes_p %}
				  	<tr class="table-default">
				      <th scope="row">{{ viaje.id }}</th>
				      <td>{{ viaje.chofer.usuario.first_name }}</td>
				      <td>{{ viaje.cliente.usuario.first_name }}</td>
				      <td>{{ viaje.precio }}</td>
				      <td>{{ viaje.fecha_so }}</td>
				      <td>
				      	<a href="{% url 'servicio:detalles' viaje.id %}" class="btn btn-primary" title="Ver Viaje"><i class="fa fa-info" aria-hidden="true"></i></a>
				      	<a href="#confirm2" data-toggle="modal" class="btn btn-danger" title="Cancelar Viaje"><i class="fa fa-times" aria-hidden="true" title="Cancelar Viaje"></i></a>
						<!-- =========== Modal de Cancelar ============  -->
						<div class="modal fade" id="confirm2">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h4 class="modal-title">Confirmacion</h4>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <p>¿Esta seguro que desea Cancelar el viaje #{{ viaje.id }}?</p>
						      </div>
						      <div class="modal-footer">
						        <a href="{% url 'servicio:cancelar' viaje.id %}" class="btn btn-danger">Cancelar</a>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- =========== Fin de modal de Cancelar ============ -->
						<a href="#confirm1" data-toggle="modal" class="btn btn-success" title="Despachar Viaje"><i class="fa fa-check" aria-hidden="true"></i></a>
						<!-- =========== Modal de Despacho ============  -->
						<div class="modal fade" id="confirm1">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h4 class="modal-title">Confirmacion</h4>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <p>¿Esta seguro que desea despachar el viaje #{{ viaje.id }}?</p>
						      </div>
						      <div class="modal-footer">
						        <a href="{% url 'servicio:despachar' viaje.id %}" class="btn btn-success">Despachar</a>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- =========== Fin de modal de despacho ============ -->
						<a href="#" class="btn btn-warning" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				      </td>
				    </tr>
				    {% endfor %}
				    {% else %}
				    <h3 class="text-center text-primary">No hay viajes disponibles</h3>
				  	{% endif %}
				  </tbody>
				</table> 
			  </div>
			  <div class="tab-pane fade" id="viaje_r">
			    <table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Chofer</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Fecha de Solicitud</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% if  viajes_r %}
				  	{% for viaje in viajes_r %}
				  	<tr class="table-warning">
				      <th scope="row">{{ viaje.id }}</th>
				      <td>{{ viaje.chofer.usuario.first_name }}</td>
				      <td>{{ viaje.cliente.usuario.first_name }}</td>
				      <td>{{ viaje.precio }}</td>
				      <td>{{ viaje.fecha_so }}</td>
				    </tr>
				    {% endfor %}
				  	{% endif %}
				  </tbody>
				</table> 
			  </div>
			  <div class="tab-pane fade" id="viaje_c">
			    <table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Chofer</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Fecha de Solicitud</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% if  viajes_c %}
				  	{% for viaje in viajes_c %}
				  	<tr class="table-danger">
				      <th scope="row">{{ viaje.id }}</th>
				      <td>{{ viaje.chofer.usuario.first_name }}</td>
				      <td>{{ viaje.cliente.usuario.first_name }}</td>
				      <td>{{ viaje.precio }}</td>
				      <td>{{ viaje.fecha_so }}</td>
				    </tr>
				    {% endfor %}
				  	{% endif %}
				  </tbody>
				</table> 
			  </div>
			  <div class="tab-pane fade" id="viajes">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Chofer</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Fecha de Solicitud</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% if  viajes %}
				  	{% for viaje in viajes %}
				  	<tr class="table-success">
				      <th scope="row">{{ viaje.id }}</th>
				      <td>{{ viaje.chofer.usuario.first_name }}</td>
				      <td>{{ viaje.cliente.usuario.first_name }}</td>
				      <td>{{ viaje.precio }}</td>
				      <td>{{ viaje.fecha_so }}</td>
				    </tr>
				    {% endfor %}
				  	{% endif %}
				  </tbody>
				</table> 
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}