{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{% if viaje %}
				<h2 class="text-primary text-center">Detalles del viaje</h2>
				<p><strong>Número de Viaje:</strong> #{{ viaje.id }}</p>
				<p><strong>Cliente:</strong> {{ viaje.cliente.usuario.first_name }}</p>
				<p><strong>Chofer:</strong> {{ viaje.chofer.usuario.first_name }}</p>
				<p><strong>Fecha de Solicitud:</strong> {{ viaje.fecha_so }}</p>
				<p><strong>Fecha de Carrera:</strong> {{ viaje.fecha_re }}</p>
				<p><strong>Precio: </strong>{{ viaje.precio }}</p>
				<p><strong>Estado: </strong> 
					{% if viaje.estado == 'P' %}
					    Pendiente
					{% elif viaje.estado == 'C' %}
						Cancelado
					{% else %}
					    Realizado			
					{% endif %}
				</p>
				<p><strong>Origen: </strong> {{ viaje.origen_destino.origen }}</p>
				<p><strong>Destino: </strong> {{ viaje.origen_destino.destino }}</p>
				<p><strong>Distancia: </strong> {{ viaje.origen_destino.distancia }} Km</p>
				{% else %}
				    <h1 class="text-center text-primary">El viaje al que intenta acceder no esta disponible</h1>
				{% endif %}
				<a href="#" class="btn btn-primary">Modificar</a>
				<a href="{% url 'servicio:gestion' %}" class="btn btn-info">Volver</a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock content %}