{% extends "base.html" %}
{% block content %}
<style>
	.lista li {margin: 10px 0}
</style>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<h2 class="text-primary text-center">Terminos y condiciones de uso</h2>
    			<p>
    				<ul style="list-style: none; padding: 10px" class="lista">
    					<li>
    						1. Se reserva el derecho de admisión.
    					</li>
    					<li>
    						2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, aperiam?
    					</li>
    				</ul>
    			</p>
    		</div>
    	</div>
    </div>
{% endblock content %}