{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


  {% if empleados %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-primary text-center">Lista de Empleados</h2>
    </div>
    <div class="col-md-12">
      {% if user.empleado.permisos.agregar == True %}
      <a href="{% url 'administracion:registrar' %}" class="btn btn-primary">Agregar Nuevo Empleado</a>
      {% endif %}
      <a href="#" class="btn btn-info">Otra opcion Aqui</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- =================== Tabla de Empleados ======================= -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Rol</th>
            <th scope="col">Permisos</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if empleados %}
          	{% for empleado in empleados %}
      		    <tr>
      		      <th scope="row">{{ empleado.id }}</th>
      		      <td>{{ empleado.usuario.username }}</td>
      		      <td>{{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</td>
      		      <td>{{ empleado.usuario.email }}</td>
      		      <td>{{ empleado.rol }}</td>
                <td><a href="{% url 'administracion:permisos' empleado.id %}" class="btn btn-primary">Ver Permisos</a></td>
      		      <td>
                  {% if empleado.usuario.id == user.id %}
                  {% else %}
                    {% if user.empleado.permisos.eliminar == True %}
                  <a href="{% url 'administracion:eliminar' empleado.usuario.id %}" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if user.empleado.permisos.suspender == True %}
                  {% if empleado.usuario.is_active == 1 %}
                  <a href="{% url 'administracion:suspender' empleado.usuario.id %}" class="btn btn-warning" title="Suspender"><i class="fa fa-lock" aria-hidden="true"></i></a>
                  {% else %}
                  <a href="{% url 'administracion:habilitar' empleado.usuario.id %}" class="btn btn-success" title="Habilitar"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                  {% endif %}
                    {% endif %}
                    {% if user.empleado.permisos.editar == True %}
                  <a href="{% url 'administracion:editar' empleado.id %}" class="btn btn-primary" title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% endif %}
                  {% endif %}
                  <a href="{% url 'administracion:perfil' empleado.id %}" class="btn btn-info" title="Perfil">Perfil</i></a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
          <h2>No hay Registros Disponibles</h2>
          {% endif %}
        </tbody>
      </table> 
  <!-- =================== FinTabla de Empleados ======================= -->
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">Anterior</a>
        {% endif %}{% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">Siguiente</a>
        {% endif %}     
      </div>
    <div class="col-md-4"></div>
  </div> -->

</div>
  {% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-primary">El empleado al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
      <h1 class="text-center text-primary" style="font-size: 110px;"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
    </div>
    <div class="col-md-12">
      <a href="{% url 'home:index' %}" class="btn btn-lg btn-primary" style="display: block">Volver a la pagina principal</a>
    </div>
    </div>
</div>
{% endif %}

{% endblock %}