{% extends 'base.html' %}

 
{% block content %}
{% if empleado %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img style="height: 80%; width: 100%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px; margin-bottom: 10px;" src="/static/media/{{ empleado.foto }}" alt="Foto de {{ empleado.usuario.first_name }}" class="img-responsive">
			<h4>{{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</h4>
			<h4 class="text-muted">{{empleado.usuario.username}}</h4>
		</div>
		<div class="col-md-9">
			<h3 class="text-center">Resumen de viajes</h3>
			<hr>
			<div class="row">
				<div class="col-md-6 form-control">
					<h4>Viajes Totales</h4>
					<h2 class="text-center text-primary">15</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Cancelados</h4>
					<h2 class="text-center text-danger">7</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Realizados</h4>
					<h2 class="text-center text-success">2</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Viajes Pendientes</h4>
					<h2 class="text-center text-warning">6</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<br>
			<h3 class="text-center">Resumen de Clientes</h3>
			<hr>
			<div class="row">
				<div class="col-md-6 form-control">
					<h4>Operaciones con clientes</h4>
					<h2 class="text-center text-primary">15</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Clientes Registrados</h4>
					<h2 class="text-center text-danger">7</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Clientes Eliminados</h4>
					<h2 class="text-center text-success">2</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Clientes Suspendidos/Habilitado</h4>
					<h2 class="text-center text-warning">6</h2>
				</div>
			</div>
		</div>
<br>
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<br>
			<h3 class="text-center">Resumen de Choferes</h3>
			<hr>
			<div class="row">
				<div class="col-md-6 form-control">
					<h4>Operaciones con Choferes</h4>
					<h2 class="text-center text-primary">15</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Choferes Registrados</h4>
					<h2 class="text-center text-danger">7</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Choferes Eliminados</h4>
					<h2 class="text-center text-success">2</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Choferes Suspendidos/Habilitado</h4>
					<h2 class="text-center text-warning">6</h2>
				</div>
			</div>
		</div>
<br>
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<br>
			<h3 class="text-center">Resumen de Empleados</h3>
			<hr>
			<div class="row">
				<div class="col-md-6 form-control">
					<h4>Operaciones con Empleados</h4>
					<h2 class="text-center text-primary">15</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Empleados Registrados</h4>
					<h2 class="text-center text-danger">7</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Empleados Eliminados</h4>
					<h2 class="text-center text-success">2</h2>
				</div>
				<div class="col-md-6 form-control">
					<h4>Empleados Suspendidos/Habilitado</h4>
					<h2 class="text-center text-warning">6</h2>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
		<br>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<br><br>
					<h2 class="text-center text-primary" style="margin-bottom: 20px;">Datos del Empleado</h2>
					<div class="row">
						<div class="col-md-6">
							<p><strong>Cedula:</strong> V-{{ empleado.cedula }}</p>
							<p><strong>Nombre:</strong> {{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</p>
							<p><strong>Email:</strong> {{ empleado.usuario.email }}</p>
							<p><strong>Dirección:</strong> {{ empleado.direccion }}</p>
							{% if empleado.rol == 'Administrador' %}
							<p><strong>Rol:</strong> Administrador <i class="fa fa-steam text-warning" aria-hidden="true"></i></p>
							{% else %}
							<p><strong>Rol:</strong> Empleado <i class="fa fa-id-card text-warning" aria-hidden="true"></i></p>
							{% endif %}
						</div>
						<div class="col-md-6">
							<p><strong>Telefono:</strong> {{ empleado.telefono }}</p>
							<p><strong>Sueldo:</strong> {{ empleado.sueldo }}</p>
							<p><strong>Fecha de nacimiento:</strong> {{ empleado.fecha_nacimiento }}</p>
							<p><strong>Fecha de Ingreso:</strong> {{ empleado.usuario.date_joined }}</p>
							<a href="{% url 'administracion:editar' empleado.id %}" class="btn btn-primary" style="right: 0">Editar Perfil</a>
						</div>
					</div>
					<p class="text-center" style="margin-top: 10px">Última Sesión: {{ empleado.usuario.last_login }}</p>
				</div>

			</div>
		</div>
	</div>

</div>
{% else %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h2 class="text-center text-primary">El empleado al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
			    <h1 class="text-center text-primary" style="font-size: 110px"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
			</div>
			<div class="col-md-12">
			    <a href="{% url 'home:index' %}" class="btn btn-primary btn-lg" style="display: block">Volver a la pagina principal</a>
			</div>
		</div>
	</div>
	{% endif %}

{% endblock content %}