{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="card mb-3">
			  <h3 class="card-header">¡Hola {{ usuario.first_name }}!</h3>
			  <div class="card-body">
			    <h5 class="card-title">Este es tu perfil</h5>
			    <h6 class="card-subtitle text-muted">No se que poner aqui</h6>
			  </div>
			  <div class="card-body">
			    <p class="card-text">
			    	ni aqui: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, atque.
			    </p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><strong>Cedula:</strong> V-{{ usuario.empleado.cedula }}</li>
			    <li class="list-group-item"><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</li>
			    <li class="list-group-item"><strong>Email:</strong> {{ usuario.email }}</li>
			    <li class="list-group-item"><strong>Telefono:</strong> {{ usuario.empleado.telefono }}</li>
			    <li class="list-group-item"><strong>Fecha de nacimiento:</strong> {{ usuario.empleado.fecha_nacimiento }}</li>
			    <li class="list-group-item"><strong>Direccion:</strong> {{ usuario.empleado.direccion }}</li>
			    <li class="list-group-item"><strong>Sueldo:</strong> {{ usuario.empleado.sueldo }}</li>
			    <li class="list-group-item"><strong>Rol:</strong> {{ usuario.empleado.rol }}</li>

			  </ul>
			  <div class="card-body">
			    <a href="#" class="card-link btn btn-primary">Modificar Perfil (Falta configurar)</a>
			    <a href="{% url 'administracion:listar' %}" class="card-link">Volver</a>
			  </div>
			  <div class="card-footer text-muted">
			    Ultima Sesión: {{ usuario.last_login }}
			  </div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
			  <div class="card-header">Gestiones</div>
			  <div class="card-body">
			    <h4 class="card-title">Operaciones: </h4>
			    <h5>Usuarios:</h5>
			    <p>Usuarios registrados: 3</p>
			    <p>Usuarios Suspendidos: 2</p>
			    <p>Usuarios Eliminados: 3</p>
			    <p>Usuarios Editados: 7</p>
			    <h5>Empleados:</h5>
			    <p>Empleados registrados: 3</p>
			    <p>Empleados Suspendidos: 2</p>
			    <p>Empleados Eliminados: 3</p>
			    <p>Empleados Editados: 7</p>
			  </div>
			</div>
			<div class="card border-info mb-3" style="max-width: 20rem;">
			  <div class="card-header">Viajes</div>
			  <div class="card-body">
			    <p class="card-text">Viajes Registrados: 2</p>
			    <p class="card-text">Viajes Cancelados: 2</p>
			    <p class="card-text">Viajes Completados: 2</p>
			    <p class="card-text">Viajes Totales: 6</p>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}