{% extends 'base.html' %}
{% block content %}

{% if user_form and empleado_form %}
<div class="container">
	{% if bandera == True %}
	<div class="row">
			<div class="col-md-12">
	          <h2 class="text-center text-primary">El empleado al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
	          <h1 class="text-center text-primary" style="font-size: 110px;"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
	      </div>
	      <div class="col-md-12">
	          <a href="{% url 'home:index' %}" class="btn btn-lg btn-primary" style="display: block">Volver a la pagina principal</a>
	      </div>
	</div>
	{% else %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-primary text-center">Complete el formulario</h3>
					<!-- <div class="form-group">
						<label for="id_username">Usuario</label>
						<input type="text" name="username" maxlength="20" autofocus required id="id_username" class="form-control" value="{{ user_form }}">
					</div>
					<div class="form-group">
						<label for="first_name">Nombre</label>
						<input type="text" required name="first_name" maxlength="30" id="id_first_name" class="form-control">
					</div>
					<div class="form-group">
						<label for="last_name">Apellido</label>
						<input type="text" required name="last_name" maxlength="30" id="last_name" class="form-control">
					</div>
					<div class="form-group">
						<label for="email">Direccion de Correo Electrónico</label>
						<input type="text"  name="email" maxlength="30" id="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="id_password1">Contraseña</label>
						<input type="password" name="password1" required id="id_password1" class="form-control">
					</div>
					<div class="form-group">
						<label for="id_password2">Repita la Contraseña</label>
						<input type="password" name="password2" required id="id_password2" class="form-control">
					</div>
					 -->    
					{{ user_form.as_p }}

					
					
					
			</div>
			<div class="col md-6">
					<div class="form-group">
						<h3 class="text-center text-primary">Establecer Permisos</h3>
						{% if user.empleado.permisos.editar == True %}
							{{ permisos_form.as_p }}
						{% endif %}
					</div>
					{{ empleado_form.as_p }}
						

					
					<button type="submit" class="btn btn-primary">{% if object %}Actualizar{% else %}Registrarse{% endif %}</button>

					<a href="{% url 'administracion:listar' %}" class="btn btn-secundary">Cancelar</a>
			</div>
		</div>
	</form>
	{% endif %}
</div>
{% else %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
			    <h2 class="text-center text-primary">El cliente al que intenta acceder no esta disponible o no tiene los permisos necesarios para acceder</h2>
			    <h1 class="text-center text-primary" style="font-size: 110px"><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
			</div>
			<div class="col-md-12">
			    <a href="{% url 'home:index' %}" class="btn btn-primary btn-lg" style="display: block">Volver a la pagina principal</a>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}